*.out
csc131-computer-software-engineering/sampleCode/*/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment1-PostfixEvaluator/*.class
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/code-samples/*.pdf
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/sample-code/*.class
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism/app/build/intermediates/incremental/
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism/app/build/
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism-layout/
csc130-data-structures-and-algorithm-analysis/assignments/assignment3-BinarySearchTreeADT/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment3-BinarySearchTreeADT/sample-code/binary-tree/*.class
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/.idea/workspace.xml
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/out/production/A1Prj/org/csc133/a1/*.class
csc133-object-oriented-computer-graphics-programming/submission
csc133-object-oriented-computer-graphics-programming/assignment-lab-instructions/debug.log
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/out/production/A1Prj/org/csc133/*.class
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/out/production/A1Prj/org/csc133/a1/AppMain.class
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/out/artifacts/A1Prj/A1Prj.jar
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/.idea/workspace.xml
csc133-object-oriented-computer-graphics-programming/csc133-resources*
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/out/production/lab02-SkyMail3000-part02-redo/org/csc133/a2/*.class
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/out/production/lab02-SkyMail3000-part02-redo/*.class
