*.out
csc131-computer-software-engineering/sampleCode/*/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment1-PostfixEvaluator/*.class
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/code-samples/*.pdf
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/sample-code/*.class
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism/app/build/intermediates/incremental/
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism/app/build/
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism-layout/
csc130-data-structures-and-algorithm-analysis/assignments/assignment3-BinarySearchTreeADT/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment3-BinarySearchTreeADT/sample-code/binary-tree/*.class
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/.idea/workspace.xml
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/out/production/A1Prj/org/csc133/a1/*.class
csc133-object-oriented-computer-graphics-programming/submission
csc133-object-oriented-computer-graphics-programming/assignment-lab-instructions/debug.log
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/out/production/A1Prj/org/csc133/*.class
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/out/production/A1Prj/org/csc133/a1/AppMain.class
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/out/artifacts/A1Prj/A1Prj.jar
csc133-object-oriented-computer-graphics-programming/lab/lab01-SkyMail3000-part01/.idea/workspace.xml
csc133-object-oriented-computer-graphics-programming/csc133-resources*
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/out/production/lab02-SkyMail3000-part02-redo/org/csc133/a2/*.class
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/out/production/lab02-SkyMail3000-part02-redo/*.class
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/out/production/lab02-SkyMail3000-part02-redo/org/csc133/a2/AppMain.class
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/*.jar
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/out/artifacts/A2Prj/A2Prj.jar
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/out/production/lab02-SkyMail3000-part02-redo/*.png
csc133-object-oriented-computer-graphics-programming/lab/lab02-SkyMail3000-part02-redo/out/production/lab02-SkyMail3000-part02-redo/org/csc133/a2/AppMain.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment1-PostfixEvaluator/resouces-to-do-assignment/Big-Num-Calculator-source at master · alancleetus-Big-Num-Calculator · GitHub.url
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/resource-to-do-assignment/Tree Traversals (Inorder, Preorder and Postorder) - GeeksforGeeks.url
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/resource-to-do-assignment/www.cs.columbia.edu--bauer-cs3134-f15-code-week5-BinaryTree.java.url
csc130-data-structures-and-algorithm-analysis/assignments/assignment1-PostfixEvaluator/resouces-to-do-assignment/Big-Num-Calculator-source at master · alancleetus-Big-Num-Calculator · GitHub.url
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/resource-to-do-assignment/Tree Traversals (Inorder, Preorder and Postorder) - GeeksforGeeks.url
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/resource-to-do-assignment/www.cs.columbia.edu--bauer-cs3134-f15-code-week5-BinaryTree.java.url
csc131-computer-software-engineering/assignments/1-subHunter/subHunter/.project
csc131-computer-software-engineering/assignments/1-subHunter/subHunter/.settings/org.eclipse.buildship.core.prefs
csc131-computer-software-engineering/assignments/1-subHunter/subHunter/app/.project
csc131-computer-software-engineering/assignments/2-subHunterRefactored/subHunterRefactored/.project
csc131-computer-software-engineering/assignments/2-subHunterRefactored/subHunterRefactored/.settings/org.eclipse.buildship.core.prefs
csc131-computer-software-engineering/assignments/4-logism-sprint1/logismlayout/.project
csc131-computer-software-engineering/assignments/4-logism-sprint1/logismlayout/.settings/org.eclipse.buildship.core.prefs
csc131-computer-software-engineering/assignments/5-logism-sprint2/sprint2/.project
csc131-computer-software-engineering/assignments/5-logism-sprint2/sprint2/.settings/org.eclipse.buildship.core.prefs
csc131-computer-software-engineering/assignments/6-logism-sprint3/MyApplication/.project
csc131-computer-software-engineering/assignments/6-logism-sprint3/MyApplication/.settings/org.eclipse.buildship.core.prefs
csc131-computer-software-engineering/assignments/6-logism-sprint3/sprint3/.project
csc131-computer-software-engineering/assignments/6-logism-sprint3/sprint3/.settings/org.eclipse.buildship.core.prefs
csc131-computer-software-engineering/assignments/Logic-Wizard/.project
