*.out
csc131-computer-software-engineering/sampleCode/*/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment1-PostfixEvaluator/*.class
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/code-samples/*.pdf
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment2-BasicBinaryTree/sample-code/*.class
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism/app/build/intermediates/incremental/
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism/app/build/
csc131-computer-software-engineering/assignments/4-logism-an-android-logic-simulator/logism-layout/
csc130-data-structures-and-algorithm-analysis/assignments/assignment3-BinarySearchTreeADT/*.class
csc130-data-structures-and-algorithm-analysis/assignments/assignment3-BinarySearchTreeADT/sample-code/binary-tree/*.class
csc131-computer-software-engineering/books/Learning-Java-by-Building-Android-Games-Second-Edition-master/Chapter08/AccessScopeThisAndStatic/AccessScopeThisAndStatic/AlienShip.java
csc131-computer-software-engineering/books/Learning-Java-by-Building-Android-Games-Second-Edition-master/Chapter08/AccessScopeThisAndStatic/AccessScopeThisAndStatic/MainActivity.java
csc133-object-oriented-computer-graphics-programming/modules/module00-start-here-welcome-and-getting-started/07-Guidelines For Student Participation in Online Discussion Forums.pdf
csc133-object-oriented-computer-graphics-programming/csc133-resources/CSC-133-master/A1Prj/.project
csc133-object-oriented-computer-graphics-programming/csc133-resources/CSC-133-master/A2Prj/.project
csc133-object-oriented-computer-graphics-programming/csc133-resources/CSC-133-master/A3Prj/.project
csc133-object-oriented-computer-graphics-programming/csc133-resources/CSc133-Driving-Game-master/.project
stat196k-analyzing-and-processing-big-data/assignments/assignment06-s-custom-programs-in-shell-pipelines/.vscode/launch.json
stat196k-analyzing-and-processing-big-data/assignments/assignment10-h-homework-xml-to-matrix/data
stat196k-analyzing-and-processing-big-data/assignments/assignment07-s-qq-plot-graphical-methods-for-comparing-distributions/output-plot-results-assignment
