[submodule "csc133-obj-oriented-cmptr-graph"]
	path = csc133-obj-oriented-cmptr-graph
	url = https://github.com/matt2ology/csc133-obj-oriented-cmptr-graph
[submodule "engl109w-preparing-to-write-in-the-disciplines"]
	path = engl109w-preparing-to-write-in-the-disciplines
	url = https://github.com/matt2ology/engl109w-preparing-to-write-in-the-disciplines
[submodule "csc196w-web-programming"]
	path = csc196w-web-programming
	url = https://github.com/matt2ology/csc196w-web-programming
[submodule "csc139-operating-system-principles"]
	path = csc139-operating-system-principles
	url = https://github.com/matt2ology/csc139-operating-system-principles
